.Footer.u-bg-blueLight
  .Footer-content.u-max-width12of12.u-mh-Auto.u-flex.u-pt-3.u-pb-3
    .Footer-Logo
      .Footer-wrapImage
        %img.Footer-logo--signet(src="/images/signet.svg")
    .Footer-about
      %h1.u-ff-didot.u-c-white
        = "Charming Hideaways"
      %p.u-ff-lato.u-fw-light.u-c-white.u-mb-2
        = "Ferienhäuser vom Feinsten"
      %p.u-ff-lato.u-fw-light.u-c-white
        = "Entdecken Sie handverlesene und individuelle Urlaubsdomizile mit dem gewissen Extra – deutschlandweit. Charming Hideaways bietet außerge-wöhnlichen Ferienhäusern und besonderen Appartements ein neuartiges Portal. Für eine inspirierende Suche und einen traumhaften Urlaub."
    .Footer-cta
      .Footer-headline.u-ff-didot.u-c-white.u-mb-1
        = "Newsletter"
      .u-ff-lato.u-c-white.u-fw-light.small-copy.u-mb-2
        = "Melde dich jetzt zu unserem Newsletter an  und erhalte exklusive Informationen vor allen anderen."
      .Button.Button--big.u-ff-lato.u-bg-lightGrey.u-ta-center.u-transform-up.u-c-petrol.u-mh-Auto.u-mb-2
        = "Jetzt anmelden"
      .Footer-headline.u-ff-didot.u-c-white.u-mb-1
        = "Gutschein"
      .u-ff-lato.u-c-white.u-fw-light.small-copy.u-mb-2
        = "Melde dich jetzt zu unserem Newsletter an  und erhalte exklusive Informationen vor allen anderen."
      .Button.Button--big.u-ff-lato.u-bg-lightGrey.u-ta-center.u-transform-up.u-c-petrol.u-mh-Auto.u-mb-2
        = "Gutschein bestellen"
  .u-max-width12of12.u-mh-Auto
    .Footer-disclaimer
      .Footer-Logo--lang
        %img.Footer-logo--lang(src="/images/logo-white.svg")
        %p.u-ff-lato.u-fw-light.u-c-white.u-mb-2
          = "ist eine in der Europäischen Union eingetragene Marke."

.Footer-legals.u-bg-petrol.u-c-white.u-pb-1.u-pt-1
  .Footer-wrapLegals.u-max-width12of12.u-mh-Auto.u-flex.u-pb-1.u-pt-1
    %p.u-c-white.u-ff-lato.u-fw-light.u-flex
      ="© 2017 CHARMING HIDEAWAYS All rights reserved"
    .Footer-links.u-flex.u-transform-up
      %a.Footer-link.u-c-white.u-ff-lato.u-fw-light{:href => "google.de"}
        ="Kontakt"
      &nbsp;|&nbsp;
      %a.Footer-link.u-c-white.u-ff-lato.u-fw-light{:href => "google.de"}
        ="Impressum"
      &nbsp;|&nbsp;
      %a.Footer-link.u-c-white.u-ff-lato.u-fw-light{:href => "google.de"}
        ="AGB"
      &nbsp;|&nbsp;
      %a.Footer-link.u-c-white.u-ff-lato.u-fw-light{:href => "google.de"}
        ="AGB Vermieter"
      &nbsp;|&nbsp;
      %a.Footer-link.u-c-white.u-ff-lato.u-fw-light{:href => "google.de"}
        ="Datenschutzerklärung"
