= partial "navigation"

.Hero.Hero--sliderSmall
  - data.results.hero.each_with_index do | item, index | 
    .Hero-slide.u-flex.u-alignEnd{:style => "background-image: url(#{image_path "hero/#{item.image}.jpg"})"}
      .Hero-wrapContent.u-widthFull.u-max-width12of12.u-mh-Auto.u-pl-1.u-pr-1

= partial "searchresults"

.Results
  .Results-wrapItems
    .Teaser.u-pl-1.u-pr-1
      .Teaser-wrapItems.u-flex.u-flexWrap--row
        - data.results.result.each_with_index do | item, index | 
          .Teaser--l.u-mb-3
            .Teaser-wrapContent.u-flex.u-flexWrap--column
              %img.Teaser-image.u-m-width1of2.u-l-width1of2(src="/images/teaser/#{item.image}.jpg")
              .Teaser-wrapDescription.u-flex.u-pos-rel.u-bg-lightGrey.u-flexWrap--row
                .Teaser-description
                  .Teaser-infos.u-flex
                    .Teaser-left.u-width1of2
                      .Teaser-title.u-ff-didot.u-c-petrol
                        = "#{item.title}"
                      .Teaser-region.u-ff-lato.u-fw-light.u-c-petrol.u-transform-up
                        = "#{item.region}"              
                    .Teaser-right.u-width1of2
                      .Teaser-price.u-ff-lato.u-fw-light.u-c-petrol
                        = "ab #{item.price} € / Nacht"
                  .Teaser-text.u-ff-lato.u-fw-light.u-c-petrol
                    = "#{item.description}"
                .Teaser-index
                  %img(src="/images/index.svg")
                  .Teaser-wrapPercent
                    .index-count.u-ff-didot.u-ta-center
                      = "#{item.percent}%"
                .Teaser-gallery.u-flex.u-widthFull.u-alignEnd.u-pb-2
                  .Gallery-item.u-pl-1.u-pr-1
                    %img(src="/images/teaser/gallery/item01.jpg")
                  .Gallery-item.u-pl-1.u-pr-1
                    %img(src="/images/teaser/gallery/item02.jpg")
                  .Gallery-item.u-pl-1.u-pr-1
                    %img(src="/images/teaser/gallery/item03.jpg")

%h1.Kooperation-headline.u-ta-center.u-c-petrol.u-ff-didot
  = "Darüber hinaus möchten wir ihnen diese Hideaways vorschlagen"

.Search.Search--big.u-bg-lightGrey
  .Search--wrapContent.u-widthFull.u-max-width12of12.u-mh-Auto.u-flex.u-flexWrap--row.u-justify--between
    .Search-ausstattung.u-pl-1.u-pr-1.u-m-width1of2.u-l-width1of2
      .Search-optionsHeadline.u-ff-lato.u-fw-light.u-c-petrol.u-mb-2.u-flex
        %span.u-pr-1
          = "Folgende Hideaways entsprechen nur zum Teil ihren Suchkriterien:"

      .Search-options.Search-options--active.u-widthFull
        - data.results.active.each_with_index do | item, index | 
          .Search-option.u-c-petrol.u-ff-lato.u-fw-bold.u-mb-1.u-mr-2.chosen
            ="#{item.name}"
    .Search-ausstattung.u-pl-1.u-pr-1.u-m-width1of2.u-l-width1of2
      .Search-optionsHeadline.u-ff-lato.u-fw-light.u-c-petrol.u-mb-2.u-flex
        %span.u-pr-1
          = "Folgende Kriterien konnten wir nicht erfüllen:"

      .Search-options.Search-options--active.u-widthFull
        - data.results.notavailable.each_with_index do | item, index | 
          .Search-option.Search-option--notAvailable.u-c-petrol.u-ff-lato.u-fw-bold.u-mb-1.u-mr-2.chosen
            ="#{item.name}"

.Search.Search-results.u-bg-blueLight.u-pb-2.u-pt-2.u-mb-Section.u-pl-1.u-pr-1
  .Search-resultsBar.u-widthFull.u-max-width12of12.u-mh-Auto.u-flex.u-flexWrap--row.u-justify--between.u-alignCenter
    .Sort-menu.u-c-creme.u-transform-up.u-ff-lato.u-fw-light.Search-optionsHeadline.u-flex
      %select.order-results.u-mr-2
        %option
          ="Sortieren nach"
      %img.Search-icon(src="/images/icons/arrow-down-white.svg")

    .Search-resutsCount.u-c-creme.u-transform-up.u-ff-lato
      ="2 Suchergebnisse"
    / .Search-showMap.u-c-creme.u-transform-up.u-ff-lato.u-fw-light
    /   ="auf der karte anzeigen"

.Results
  .Results-wrapItems
    .Teaser.u-pl-1.u-pr-1
      .Teaser-wrapItems.u-flex.u-flexWrap--row
        - data.results.result.each_with_index do | item, index | 
          .Teaser--l.u-mb-3
            .Teaser-wrapContent.u-flex.u-flexWrap--column
              %img.Teaser-image.u-m-width1of2.u-l-width1of2(src="/images/teaser/#{item.image}.jpg")
              .Teaser-wrapDescription.u-flex.u-pos-rel.u-bg-lightGrey.u-flexWrap--row
                .Teaser-description
                  .Teaser-infos.u-flex
                    .Teaser-left.u-width1of2
                      .Teaser-title.u-ff-didot.u-c-petrol
                        = "#{item.title}"
                      .Teaser-region.u-ff-lato.u-fw-light.u-c-petrol.u-transform-up
                        = "#{item.region}"              
                    .Teaser-right.u-width1of2
                      .Teaser-price.u-ff-lato.u-fw-light.u-c-petrol
                        = "ab #{item.price} € / Nacht"
                  .Teaser-text.u-ff-lato.u-fw-light.u-c-petrol
                    = "#{item.description}"
                .Teaser-index
                  %img(src="/images/index.svg")
                  .Teaser-wrapPercent
                    .index-count.u-ff-didot.u-ta-center
                      = "#{item.percent}%"
                .Teaser-gallery.u-flex.u-widthFull.u-alignEnd.u-pb-2
                  .Gallery-item.u-pl-1.u-pr-1
                    %img(src="/images/teaser/gallery/item01.jpg")
                  .Gallery-item.u-pl-1.u-pr-1
                    %img(src="/images/teaser/gallery/item02.jpg")
                  .Gallery-item.u-pl-1.u-pr-1
                    %img(src="/images/teaser/gallery/item03.jpg")

= partial "footer"