= partial "navigation"

.Hero.Hero--sliderSmall.u-mt-6
  - data.searchdetail.hero.each_with_index do | item, index | 
    .Hero-slide.u-flex.u-alignEnd{:style => "background-image: url(#{image_path "hero/#{item.image}.jpg"})"}
      .Hero-wrapContent.u-widthFull.u-max-width12of12.u-mh-Auto.u-pl-1.u-pr-1
        %h1.Hero-headline.u-c-white.u-ff-didot
          = "#{item.headline}"
        %h2.Hero-subline.u-ff-lato.u-fw-light.u-c-white
          = "#{item.subline}"

= partial "searchbig"

.Inspiration.u-mb-Section.u-pl-1.u-pr-1
  .Inspiration-wrapContent.u-max-width12of12.u-mh-Auto.u-flex
    .Inspiration-categorieIntro
      %h1.Headline.u-c-petrol.u-ff-didot.u-mb-2
        = "Entdecken Sie echte charming Hideaways mit dem gewissen etwas."
      %p.u-ff-lato.u-fw-light.u-c-petrol.u-mb-2
        = "Entdecke ganz besondere Hideaways, die deinem persönlichen Gescmack genau treffen."
      .Button.Button--teaser.u-ff-lato.u-bg-lightGrey.u-ta-center.u-transform-up.u-c-petrol.u-mh-Auto
        = "entdecken sie usnere inspirationssuche"
    .Inspiration-wrapCategories.u-flex
      .Inspiration-categorie
        %img.categorie-image(src="/images/inspiration/wohlfuehlen.png")
        %h2.Headline.u-ff-didot.u-c-petrol
          = "Umgebungen zum Wohlfühlen"
      .Inspiration-categorie
        %img.categorie-image(src="/images/inspiration/zuhause.png")
        %h2.Headline.u-ff-didot.u-c-petrol
          = "Hideaways für das „Zuhause-Gefühl“"

= partial "footer"